<ion-header>
    <ion-navbar color="primaryColor">
        <ion-title>Homework</ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-padding>
    <ion-list>
        <ion-card *ngFor="let item of homeworkListObject">
            <ion-card-content ion-item>
                <ion-row>
                    <ion-col col-8>
                        <h2>{{ item.Subject_Name }}</h2>
                    </ion-col>
                    <ion-col col-4 text-right align-self-center>
                        <p>{{ item.created_at | date: 'dd/MM/yyyy' }}</p>
                    </ion-col>
                </ion-row>
                <p class="descriptionPadding5">{{ item.homework_description }}</p>
            </ion-card-content>
        </ion-card>
    </ion-list>
    <div text-center *ngIf="homeworkListObject?.length === 0">
        <h4>No Result found</h4>
    </div>
</ion-content>
