.ios, .md {
 
    page-login {
 
        ion-content {
            background-image: url('../assets/img/loginbg.png');           
        }
 
        ion-avatar > img {
            margin: auto;
            width: 80px;
            height: auto;
        }

        .buttonTextSmallCase {
            text-transform: none;
        }

        .card-md{
            margin: 20% 10px 10px 10px;
            border-radius: 4px;
        }
    }
}
