<ion-header>
  <ion-navbar>
    <ion-title>Application</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="postStudentApplication()" color="primary">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-textarea placeholder="Enter application content here..." rows="5" [(ngModel)]="application.description"></ion-textarea>
</ion-content>