page-home {

    ion-col div {
        text-align: center;
    }

    ion-avatar > img {
        width: auto !important;
        height: 70px !important;
    }

    .cardPadding0{
        padding: 0px;        
    }

    .cardBorderRadius{
        border-radius: 10%;
    }    
}
