<ion-header>
  <ion-navbar color="secondary" [hideBackButton]="true">
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
  <ion-toolbar class="cardPadding0">
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/ic_user.svg">
      </ion-avatar>
      <h2>{{userData?.student_name}}</h2>
      <h3>{{userData?.student_parent_name}}</h3>
      <p>{{userData?.student_class}}</p>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row responsive-sm>
      <ion-col col-6 class="cardPadding0" *ngFor="let item of dashboardMenus">
          <ion-card class="cardBorderRadius" (click)="dashboardMenuClick(item.id);">
            <ion-card-content class="cardPadding0">
              <img [src]="item.image"/>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>