.ios, .md {
    page-home {

        ion-col div {
            text-align: center;
        }

        ion-avatar > img {
            width: auto !important;
            height: 70px !important;
        }
        .cardBorderRadius{
            border-radius: 10%;
        }

        .item-md.item-block .item-inner{
            border: none;
        }

        .item-md h2{
            padding: 0 0 5px 0;
            font-size: 1.8rem;
        }
        .item-md h3{
            padding: 0 0 3px 0;
            font-size: 1.5rem;
        }

        ion-navbar {
            box-shadow: 0px 5px 16px 1px rgba(117, 117, 117, 0.8);
        }

        .mid h2 {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            color: white;
            text-transform: capitalize;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 1.5rem;
            transform: translate(-50%, -50%);
        }   
    }
}