.ios, .md {
    page-home {

        ion-col div {
            text-align: center;
        }

        ion-avatar > img {
            width: auto !important;
            height: 70px !important;
        }

        .cardPadding0{
            padding: 0px;        
        }

        .cardBorderRadius{
            border-radius: 10%;
        }

        .mid h2 {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            color: white;
            text-transform: capitalize;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 1.5rem;
            transform: translate(-50%, -50%);
        }   
    }
}