<ion-header>
  <ion-navbar>
    <ion-title>Timetable</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <pdf-viewer [src]="pdfSrc" [show-all]="true" [original-size]="false" [zoom]="0.1" style="display: block;"></pdf-viewer>
</ion-content>