<ion-header>
    <ion-navbar color="primaryColor">
        <ion-title text-wrap>Marksheet</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of markSheetListObject">
        <ion-card-content no-padding>
            <ion-grid (click)="getMarkSheet(item)">
                <ion-row>
                    <ion-col col-10>
                        <h2>{{item.examName}}</h2>
                    </ion-col>
                    <ion-col col-2 text-right align-self-center>
                        <ion-icon name="ios-arrow-forward"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <div text-center *ngIf="markSheetListObject.length === 0">
        <h4>No Result found</h4>
    </div>
</ion-content>