<ion-header>
  <ion-navbar>
    <ion-title>Yearly Schedule</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<pdf-viewer [src]="pdfSrc" [original-size]="false" [zoom]="0.1" style="display: block;"></pdf-viewer>
</ion-content>
